
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>


    <!-- Favicons -->
    <!-- Google Fonts -->
    <!-- Vendor CSS Files -->
    <link href="~/Assets/Review/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Assets/Review/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Assets/Review/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Assets/Review/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Assets/Review/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Assets/Review/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->

</head>
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hỗ trợ</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Thông tin liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Số điện thoại liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Email liên hệ</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Thông tin liên hệ</h3>
                                <p class="fst-italic"></p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/specials-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Số điện thoại liên hệ</h3>
                                <p class="fst-italic">1900.0077 &amp; 1900.0088</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/specials-2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Email</h3>
                                <p class="fst-italic">Agentfastfood@gmail.com</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/specials-3.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>
<script src="~/Assets/Review/assets/vendor/aos/aos.js"></script>
<script src="~/Assets/Review/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Assets/Review/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/Assets/Review/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Assets/Review/assets/vendor/php-email-form/validate.js"></script>
<script src="~/Assets/Review/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="~/Assets/Review/assets/js/main.js"></script>